.button {
    background-color:#fff;
    color: #000000;
    border: 1px solid #000000;
    padding: 8px 16px;
    display: flex;
    width: 230px;
    border-radius: 10px;
     align-items: center;
    margin: 10px 0;
}
.button span{
   
    column-gap: 10px;
    align-items: center;
    color : #8d8c8c;
    margin-left: 10px;
    margin-right: 40px;

}
.righticon{
    margin-left: auto;
   
}
.labelText{
     font-weight: bold; 
     margin-left: -40px;
   
   
}